.list__item {
    border: 2px solid teal;
    border-radius: 5px;
    color: darkslategray;
    font-size: 18px;
    padding: 15px;
    margin-bottom: 15px;
}
.list__item__title {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 24px;
}
.list__item__btns {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.list__item__btns button {
    margin-left: 10px;
}
.list__item__content {
    display: flex;
    justify-content: space-between;
}